doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/crafty-min.js')
    script(src='/javascripts/start.js')
    script(src='/javascripts/loading.js')
    script(src='/javascripts/scenes/menu.js')
    script(src='/javascripts/scenes/help.js')
    script(src='/javascripts/scenes/game.js')
    script(src='/javascripts/components/player.js')
    script(src='/javascripts/components/mc_proj.js')
    script(src='/javascripts/components/obstacle.js')
    meta(name=viewport width=device-width initial-scale=1.0)
    meta(name=apple-mobile-web-app-capable content=yes)
    meta(name=apple-mobile-web-app-status-bar-style content=black)

  body
    block content